#wpc-notifications {

	.wpc-notification {
		background: rgba( 0, 0, 0, 0.05 );
		padding-left: 0;
		padding-right: 0;
	}
}

#wpc-content {
	padding-left: 0;
	padding-right: 0;

	.front-promo {
		font-size: 1.3rem;
		line-height: 1.7;
		margin: 0;
		text-align: center;

		@media screen and (min-width: $wpc-container-max-width) {
			font-size: 1.5rem;
			line-height: 1.8;
		}
	}
}

body.page-schedule,
body.page-watch {

	#wpc-content {

		.wpc-breadcrumbs {
			@include for-screen-reader();
		}
	}
}

body.page-schedule {

	#wpc-content {

		h1 {
			margin-bottom: 1rem;
		}

		.schedule-nav-buttons {

			.schedule-nav-button {

				&.highlight {
					background-color: $wpc-gray;
					color: #fff;
					font-weight: bold;

					&:focus,
					&:hover {
						background-color: darken( $wpc-gray, 10% );
					}
				}
			}
		}
	}
}

body.page-watch {

	h1,
	.wpc-page-title {
		margin-top: 0;
	}
}

body.page-watch-main {

	.conf-sch-container {
		border-top: 1px solid rgba(0,0,0,.1);
	}

	.wpc-watch-container {

		&.sponsors,
		&.speakers,
		&.schedule {
			margin-top: 2rem;
		}
	}
}

body.page-watch-room {

	#wpc-network-banner .wpc-container,
	.wpc-container {
		max-width: none;
	}

	#wpc-network-banner .wpc-container,
	#wpc-header .wpc-container {
		padding-left: 10px;
		padding-right: 10px;
	}

	@media screen and (min-width: 600px) {
		#wpc-header .wpc-menu-container ul.wpc-menu {
			max-width: none;
		}
	}

	#wpc-main {

		.wpc-container {
			max-width: none;
		}
	}

	#wpc-content {
		padding-top: 0;
		padding-right: 0;
		padding-left: 0;

		h1 {
			margin-top: 0;
		}

		.wpc-watch-container {

			&.schedule,
			&.speakers,
			&.sponsors {
				@include imitate-container();
				padding-left: 30px;
				padding-right: 30px;

				@media screen and (min-width: 600px) {
					padding-left: 0;
					padding-right: 0;
				}
			}
		}

		#wpc-watch-other-room {
			display: block;
			margin: .8rem 0 1.3rem 0;
		}

		.wpc-mc-signup {
			max-width: 920px;
			margin-left: auto;
			margin-right: auto;
		}

		@media screen and (min-width: 600px) {

			.wpc-watch-container {
				position: relative;
			}

			#wpc-watch-other-room {
				position: absolute;
				right: 0;
				top: 10px;
				width: auto;
				margin: 0;
			}
		}
	}
}

.wpc-watch-buttons {
	overflow: auto;
	margin: 0 0 1.6rem 0;

	.wpc-watch-button {
		margin: 10px 0 0 0;

		a {
			display: block;
			background-color: $wpc-royal-blue;
			color: #fff;
			text-align: center;
			font-size: 2rem;
			line-height: 1.2;
			font-weight: 300;
			margin: 0;
			padding: 60px 30px;
			transition: background-color 1s ease;
			text-decoration: none;
			cursor: pointer;

			&:focus,
			&:hover {
				background: darken( $wpc-royal-blue, 10% );
			}
		}

		.watch-label {
			display: block;
			text-transform: uppercase;
		}

		.watch-title {
			display: block;
			font-size: 1.3rem;
			line-height: 1.4;
			margin: 1rem 0 0 0;
			text-decoration: underline;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	@media screen and (min-width:800px) {
		display: flex;

		.wpc-watch-button {
			align-items: center;
			flex: 1;
			padding: 0 5px;
			margin: 0;

			a {
				padding-top: 0;
				padding-bottom: 0;
				height: 250px;

				position: relative;

				.watch-text {
					width: 100%;
					position: absolute;
					left: 0;
					top: 50%;
					transform: translateY(-50%);
					padding: 0 30px;
				}
			}

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				padding-right: 0;
			}
		}
	}
}

.wpc-watch-sponsors {
	background: $wpc-light-blue;
	padding: 20px;
	margin: 0 0 1rem 0;

	img, a {
		display: block;
		margin: 0;
	}

	.wpc-watch-sponsor {
		background: #fff;
		padding: 20px;

		&.pantheon {
			background: $wpc-dark-blue;
			padding: 0 8px 8px;

			.sponsor-label {
				font-weight: bold;
				margin: 0;
				text-align: center;
				font-size: 115%;
				background: $wpc-dark-blue;
				color: #fff;
				padding: 1rem;
			}

			a {
				background: #fff;
				padding: 30px;
			}
		}

		&.wpexplorer {

			img {
				max-height: 300px;
			}
		}
	}

	.wpc-watch-sponsor-row {
		display: flex;
		align-items: stretch;

		.wpc-watch-sponsor {
			display: flex;
			align-items: center;
			margin: 1rem 0.5rem 0;

			&:first-child {
				margin-left: 0;
			}

			&:last-child {
				margin-right: 0;
			}
		}
	}
}

$watch-item-margin: 8px;
$watch-iframe-height: 700px;
#wpc-watch-area {
	background: #000;
	padding: 1rem;
	margin: 0 0 2rem 0;

	iframe {
		display: block;
		width: 100%;
		height: $watch-iframe-height;
		border: 0;
		margin: 0;
		padding: 0;

		&.wpc-live-captions {
			height: 300px;
		}

		&.wpc-live-chat {
			//height: 100%;
		}
	}

	div.wpc-live-captions {
		border: 2px solid rgba(255,255,255,.5);
		margin: $watch-item-margin 0 0 0;
	}

	.wpc-live-chat-message {
		background: $wpc-light-blue;
		padding: 1rem;

		ul, ol {
			margin: 0;
		}
	}

	.wpc-live-captions-actions {
		margin: $watch-item-margin 0 0;

		.wpc-live-captions-open {
			background: $wpc-royal-blue;
			border-radius: 0;
			height: auto;
			color: #fff;
			line-height: 45px;
			text-decoration: underline;

			&:hover,
			&:focus {
				background: darken( $wpc-royal-blue, 10% );
				color: #fff;
			}
		}
	}

	.wpc-live-captioning-sponsor {
		display: flex;
		align-items: center;
		justify-content: center;
		background: #fff;
		margin: $watch-item-margin 0 0;
		padding: 20px;

		.sponsor-label {
			font-weight: bold;
			font-size: 115%;
			color: #000;
			margin: 0 1rem 0 0;
		}

		img {
			max-height: 100px;
			margin: 0;
		}

		a {
			display: flex;
			align-items: center;
		}
	}

	@media screen and (min-width: 600px) {

		.wpc-live-watch {
			display: flex;

			div.wpc-live-video {
				flex-basis: 75%;
			}

			div.wpc-live-chat {
				flex: 1;
				margin: 0 0 0 $watch-item-margin;
			}
		}
	}
}

#wpc-watch-room {

	.conf-schedule-speakers {
		margin: 0 0 1rem 0;
	}

	.wpc-live-header {
		background: $wpc-light-blue;
		color: #000;

		.header-button {
			display: block;
			width: auto;
			background: $wpc-royal-blue;
			color: #fff;
			margin: 0;
			padding: 15px 20px;
			text-align: center;
			border-radius: 0;
			height: auto;
			line-height: inherit;
			transition: background-color 1s ease;

			&:hover,
			&:focus {
				background: darken( $wpc-royal-blue, 10% );
			}

			&.refresh-button {
				background: url('../../images/refresh.png') center center no-repeat $wpc-orange;
				background-size: auto 50%;
				min-width: 75px;
				min-height: 75px;

				span {
					@include for-screen-reader;
				}

				&:hover,
				&:focus {
					background-color: darken( $wpc-orange, 10% );
				}
			}
		}

		.wpc-live-headers {
			padding: 20px 30px;

			> * {
				margin: 0;
				font-size: 2rem;
				line-height: 1.2;
			}
		}

		@media screen and (min-width: 600px) {
			display: flex;
			align-items: stretch;

			> * {
				display: flex;
				align-items: center;
			}

			h2 {
				flex: 1;
			}

			.wpc-live-headers {
				display: flex;
				flex: 1;

				> * {
					display: flex;
					align-items: center;
				}

				h2 {
					margin: 0 0 0 1rem;
				}
			}

			.header-button {
				display: flex;
				align-items: center;
			}
		}
	}

	.wpc-live-next {
		background: rgba( #900, 0.05 );
		color: #000;
		border-top: 1px solid rgba( $wpc-royal-blue, 0.2 );

		.next-message {
			margin: 0;
			padding: 15px 30px;
			font-weight: bold;
			text-align: center;

			@media screen and (min-width: 600px) {
				text-align: left;
			}
		}
	}

	.wpc-live-loading {
		pointer-events: none;
		opacity: 0;
		transition: opacity 1s ease;
	}

	$loading-min-height: 200px;
	&.loading {
		min-height: $loading-min-height;
		position: relative;
		pointer-events: none;

		.wpc-live-loading {
			opacity: 1;
			min-height: $loading-min-height;
			position: absolute;
			left: 0;
			top: 0;
			width: 100%;
			height: 100%;
			background: url('../../images/loading.gif') center center no-repeat rgba(#fff,0.8);
			z-index: 1000;
		}
	}
}

#wpc-live-schedule {

	#wpc-schedule-button {
		display: block;
		margin: 0 0 -.3rem 0;
	}

	@media screen and (min-width: 600px) {

		#wpc-next-header {
			float: left;
		}

		#wpc-schedule-button {
			float: right;
			width: auto;
			margin: 6px 0 0 0;
		}
	}

	.conf-sch-container {
		clear: both;

		.schedule-header,
		.schedule-nav-buttons.nav-top {
			display: none;
		}

		.schedule-table {

			.schedule-row {

				&.status-past {
					display: none;
				}
			}
		}
	}
}
