@import "assets/css/src/settings";
@import "assets/css/src/mixins";

#wpc-network-banner {
	padding-left: 0;
	padding-right: 0;
}

.wpc-container,
#wpc-network-banner .wpc-container,
#wpc-notifications .wpc-container {
	max-width: 1400px;
	margin: 0 auto;
	padding-left: 1rem;
	padding-right: 1rem;

	@media screen and (min-width: 860px) {
		padding-left: 2rem;
		padding-right: 2rem;
	}
}

a {
	color: $link-color;
}

button,
.button {
	background-color: $link-color;
	color: #fff;

	&:focus,
	&:hover {
		background-color: darken( $link-color, 10% );
	}

	&.blue {
		background-color: $wpc-dark-blue;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $wpc-dark-blue, 10% );
		}
	}

	&.red {
		background-color: $wpc-red;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $wpc-red, 10% );
		}
	}

	&.gray {
		background-color: $wpc-gray;
		color: #fff;

		&:focus,
		&:hover {
			background-color: darken( $wpc-gray, 10% );
		}
	}
}

// Include our components
@import "assets/css/src/components/header";
@import "assets/css/src/components/body";
@import "assets/css/src/components/footer";
