// Include our dependencies
@import "normalize";
@import "bourbon";
@import "neat";

// Breakpoints
$wpc-banner-full: 1060px;
//$wpc-desktop-bp: 760px;
//@media screen and (min-width: $wpc-desktop-bp)

// WordPress
//$wp-admin-bar-breakpoint: 782px;
//$wp-admin-bar-mobile-height: 46px;
//$wp-admin-bar-desktop-height: 32px;

// Colors
$wpc-royal-blue: #1159bd;
$wpc-dark-blue: #2e3641;
$wpc-bg: #fafafa;

// Typography
$wpc-font-primary: 'Libre Franklin', sans-serif; // Libre Franklin', 'Titillium Web', 'Roboto'
$wpc-color: #222;

// Banner settings
$wpc-banner-height: 120px;
$wpc-banner-bg-color: #fff;

// Nav settings
$wpc-nav-bg-color: $wpc-dark-blue;
$wpc-nav-height: 50px;
$wpc-nav-item-side-padding: 20px;
$wpc-nav-full: 820px;

// Main settings
$wpc-main-bg: #fff;
$wpc-main-title-bg: #fafafa;

// Footer settings
$wpc-footer-bg-color: $wpc-bg;
$wpc-footer-color: #222;
$wpc-footer-opacity: 0.65;
$wpc-footer-opacity-hover: 1;