#wpc-online-main-page-title {
	background: $wpc-main-title-bg;
	padding: 25px 0;
	margin: 0;
	text-align: left;

	h1 {
		text-transform: uppercase;
		font-weight: 300;
		margin: 0;
		position: relative;

		.wpc-online-action {
			display: block;
			text-transform: none;
			font-size: 1.1rem;

			&.join-room-action {
				background: #900;
				color: #fff;
				padding: 10px 15px;
				margin: 10px 0 0 0;

				&:hover {
					background: darken( #900, 10% );
				}
			}
		}

		@media screen and (min-width: 480px) {

			.wpc-title-with-action {
				display: block;
				padding-right: 30%;
			}

			.wpc-online-action {
				position: absolute;
				top: 50%;
				right: 0;
				transform: translateY(-50%);
				margin: 0 !important;
			}
		}
	}

	.breadcrumbs-wrapper {
		display: block;
		float: right;
		text-align: left;
		color: #666;
		font-size: 0.85rem;
		line-height: 1.5;
		margin: 15px 0 0 0;

		.breadcrumbs {
			display: block;
			width: auto;
			background: none;
			margin: 0;

			li {
				display: inline-block;
				list-style: none;

				a {
					color: inherit;
				}

				&:before {
					content: '/';
					margin: 0 10px;
				}
				
				&:first-child:before {
					display: none;
				}
			}
		}
	}

	&.has-breadcrumbs {
		h1 {
			display: inline-block;
		}
	}
}

#wpc-online-main {
	background: $wpc-main-bg;
	min-height: 200px;
}

#wpc-online-content {
	padding: 30px 0;

	.inside {

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}
	}

	.highlight {
		font-size: 1.4rem;
		line-height: 1.6;
	}

	ul, ol {

		&.columns {

			&.two {
				overflow: auto;

				li {
					float: left;
					width: 50%;
				}
			}
		}
	}

	.panel {
		display: block;
		padding: 20px;
		margin: 1.5rem 0;
		text-align: center;

		a {
			color: inherit;
		}

		> *:first-child {
			margin-top: 0;
		}

		> *:last-child {
			margin-bottom: 0;
		}

		&.red {
			background: #900;
			color: #fff;
		}

		&.gray {
			background: rgba( #000, 0.07 );
			color: #222;
		}

		&.blue {
			background: $wpc-royal-blue;
			color: #fff;
		}

		&.bigger {
			font-size: 1.2rem;
			line-height: 1.7;
		}
	}

	.front-promo {

		.front-promo-1 {
			font-size: 1.3rem;
			line-height: 1.7;
			margin: 10px 0 0 0;
			text-align: center;
		}

		.front-promo-2 {
			font-size: 1.3rem;
			line-height: 1.7;
			text-align: center;
			margin: 40px -40px 50px -40px;
			padding: 20px 40px;
		}

		@media screen and (min-width: $wpc-banner-full) {

			.front-promo-1 {
				font-size: 1.5rem;
				line-height: 1.8;
				margin: 20px 0;
			}

			.front-promo-2 {
				font-size: 1.6rem;
				line-height: 1.8;
				padding: 20px 10%;
			}
		}
	}

	.wpcampus-center {
		text-align: center;

		ul, ol {
			text-align: left;

			&.columns.two {

				li {
					width: 30%;

					&:nth-child(odd) {
						margin-left: 25%;
					}
				}
			}
		}
	}

	article {
		border-top: 1px solid #F3F3F3;
		padding: 33px 0 0 0;
		margin: 40px 0 0 0;

		header {
			margin: 0 0 15px 0;

			.entry-title {
				margin: 0;

				a {
					color: darken( $wpc-royal-blue, 6% );
				}
			}
		}

		&:first-child {
			border-top: 0;
			margin-top: 0;
			padding-top: 0;
		}

		.article-thumbnail {
			float: left;
			width: 100px;
			height: 100px;
			margin: 0.8rem 30px 10px 0;

			@media screen and (min-width: $wpc-medium-up) {
				width: 150px;
				height: 150px;
			}
		}
	}

	.conf-schedule-speakers {

		.conf-schedule-speaker {
			overflow: auto;
			border-top: 1px solid #eee;
			padding-top: 35px;
			margin-top: 45px;

			&:first-child {
				border-top: 0;
				margin-top: 0;
				padding-top: 0;
			}

			.speaker-name {
				margin-bottom: 10px;
			}

			.speaker-headshot {
				float: left;
				width: 100px;
				height: 100px;
				margin: 0.8rem 30px 20px 0;

				@media screen and (min-width: $wpc-medium-up) {
					width: 150px;
					height: 150px;
				}
			}

			.speaker-meta {
				display: block;
				font-style: italic;
				margin: 10px 0 0 0;
			}

			.speaker-social {
				display: block;
				list-style: none;
				border: 0;
				margin: 5px 0 15px 0;
				padding: 0;
				text-align: left;

				li {
					display: inline-block;
					list-style: none;
					margin: 5px 10px 0 0;
					border: 0;
					padding: 0;
					font-size: 0.9em;
					line-height: 1.8;

					a {
						display: block;
						background-color: rgba(#000, 0.05);
						padding: 5px 15px;
						color: inherit;
						text-align: center;
						border-radius: 5px;
						text-decoration: none;
						transition: background-color 1s ease;

						&:hover {
							background-color: rgba(#000, 0.2);
						}
					}

					&.twitter {
						font-weight: bold;

						a {
							background-color: $twitter-blue;
							color: #fff;

							&:hover {
								background-color: darken($twitter-blue, 20%);
							}
						}
					}

					&.facebook {
						font-weight: bold;

						a {
							background-color: $facebook-blue;
							color: #fff;

							&:hover {
								background-color: darken($facebook-blue, 20%);
							}
						}
					}

					&.instagram {
						font-weight: bold;

						a {
							background-color: $instagram-blue;
							color: #fff;

							&:hover {
								background-color: darken($instagram-blue, 20%);
							}
						}
					}

					&.linkedin {
						font-weight: bold;

						a {
							background-color: $linkedin-blue;
							color: #fff;

							&:hover {
								background-color: darken($linkedin-blue, 20%);
							}
						}
					}
				}
			}

			.speaker-sessions {

				.speaker-session-label {
					font-weight: bold;
				}
			}
		}
	}

	.columns {
		overflow: auto;

		.column {
			width: 100%;

			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(2) ~ .column {
				width: 50%;
			}

			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(3) ~ .column {
				width: 33.3333%;
			}

			&:first-child:nth-last-child(4),
			&:first-child:nth-last-child(4) ~ .column {
				width: 25%;
			}

			&:first-child:nth-last-child(2),
			&:first-child:nth-last-child(3),
			&:first-child:nth-last-child(4) {
				float: left;
				padding-right: 10px;
			}
			&:first-child:nth-last-child(2) ~ .column,
			&:first-child:nth-last-child(3) ~ .column,
			&:first-child:nth-last-child(4) ~ .column {
				float: left;
				padding-left: 10px;
			}
		}
	}
}